name: Build Hostlist and Push to Adblock

on:
workflow_dispatch:
schedule:
- cron: "0 2 * * *"   # jalan setiap hari jam 02:00 UTC
push:
branches: [ main ]

jobs:
build-and-deploy:
runs-on: ubuntu-latest

steps:
  - name: Checkout HostlistCompiler repo
    uses: actions/checkout@v4

  - name: Install HostlistCompiler
    run: |
      pip install hostlist-compiler

  - name: Build Adguard list
    run: |
      hostlist-compiler -c configuration.json -o Adguardstylepc.txt

  - name: Clone target adblock repo
    run: |
      git clone https://x-access-token:${{ secrets.ADBLOCK_TOKEN }}@github.com/unknown4849/adblock.git target-repo

  - name: Copy output to target repo
    run: |
      cp Adguardstylepc.txt target-repo/

  - name: Commit and Push
    run: |
      cd target-repo
      git config user.name "github-actions"
      git config user.email "github-actions@github.com"
      git add Adguardstylepc.txt
      git commit -m "Auto update Adguardstylepc.txt" || echo "No changes"
      git push
