jobs:
build-and-deploy:
runs-on: ubuntu-latest

steps:
  - name: Checkout HostlistCompiler repo
    uses: actions/checkout@v4

  - name: Install HostlistCompiler
    run: |
      pip install hostlist-compiler

  - name: Build Adguard list
    run: |
      hostlist-compiler -c configuration.json -o Adguardstylepc.txt

